<ion-content>
  <ion-navbar class="shadow">
    <ion-title text-center>Выберите услуги</ion-title>
    <ion-buttons end>
      <button (click)="goToDashboard()" ion-button icon-only>
        <ion-icon class="white" ios="ios-contact" md="md-contact" right></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <div class="no-content__wrap" *ngIf="place == null">
    <div>
      <p class="no-content__text">В Спорт центре нет свободных мест на заданное время</p>
      <button ion-button full (click)="returnResults()">К предыдущему результату</button>
    </div>
  </div>

  <div *ngIf="place != null">
    <div class="image-container">
      <ion-slides>
        <ion-slide *ngFor="let img of place.images">
          <div class="image" [ngStyle]="{'background-image':'url(' + img + ')'}"></div>
        </ion-slide>
      </ion-slides>

      <img class="image__logo" [src]="place.imageLogo">
      <p class="distance" *ngIf="place.distance"> {{place.distance | distanceKmPipe}}</p>
    </div>

    <div class="place-info">
      <h3 class="place-info__head">{{place.type}} {{place.name}}</h3>

      <p class="place-info__text">Адрес: {{place.address}} <span
        class="place-info__text_blue">(показать на карте)</span></p>

      <p class="place-info__text">Часы работы с {{place.startWorkTime}} до {{place.endWorkTime}}</p>

      <p class="place-info__description" *ngIf="!description" (click)="description = !description">
        {{place.descriptionShort}} <span
        class="place-info__text_black">Развернуть</span></p>
      <p class="place-info__description" *ngIf="description" (click)="description = !description">
        {{place.description}} <span
        class="place-info__text_black">Свернуть</span></p>

      <section class="advantages">
        <div class="advantages__item" *ngFor="let a of place.advantages">
          <p class="advantages__img-container"><img [src]="a.icon"></p>
          <p class="advantages__text">{{a.name}}</p>
        </div>
      </section>

      <form #f="ngForm" (submit)="formSubmit(f.value)" class="radio">
        <div class="place-info__time">
          <h3 class="place-info__time-head">Выбранное время</h3>
          <ion-grid>
            <ion-row>
              <ion-col width-10 class="date__time">
                <ion-icon name="ios-time-outline"></ion-icon>
              </ion-col>
              <ion-col width-90>
                <ion-datetime #datepicker (ionChange)="dateChange()"
                              class="date__date"
                              displayFormat="DDD. DD, MMMM, HH:00"
                              [min]="minDate"
                              [max]="maxDate"
                              [monthNames]="monthNames"
                              [dayShortNames]="dayShortNames"
                              [(ngModel)]="time"
                              [ngModelOptions]="{standalone: true}">
                </ion-datetime>
                <p class="data-change" (click)="datepicker.open()">Изменить время</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <h3 class="place-info__playground">Доступные для бронирования корты</h3>
        <div class="form-group">
          <div class="radio" *ngFor="let pg of place.playingFields">
            <input [id]="pg.id" type="radio" name="playground" [(ngModel)]="user.playground" [value]="pg.name">
            <label [attr.for]="pg.id">
              {{pg.name}} {{pg.price}}р
            </label>
          </div>

        </div>

        <h3>Дополнительные услуги</h3>
        <div class="form-group">
          <div class="checkbox" *ngFor="let service of place.services">
            <input [id]="service.name" type="checkbox" [name]="service.name"
                   [(ngModel)]="user[service.name]">
            <label [attr.for]="service.name">
              {{service.name}} {{service.price}}p
            </label>
          </div>
        </div>

        <!--<div class="sticky-footer">-->
        <!--<button ion-button full type="submit"> Продолжить</button>-->
        <!--</div>-->
      </form>
    </div>

  </div>
</ion-content>
<ion-footer>
  <button ion-button full class="next-button" (click)="formSubmit()">Продолжить</button>
</ion-footer>


