page-authentication {
  text-align: center;
  font-family: 'Circe', sans-serif;

  h1 {
    font-size: 1.5em;
  }

  .logo {
    margin-top: 20%;
    max-width: 60%;
  }

  .scroll-content {
    padding-bottom: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  input[type="text"], input[type="tel"] {
    width: 80%;
    padding: 20px 0;
    margin-bottom: 20px;
    color: #202020;
    text-align: center;

    &::placeholder {
      color: #000;
    }
  }

  .login-input {
    border: 1px solid color($colors, border);
    border-radius: 30px;
  }

  .sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    button {
      padding: 20px 0;
      text-transform: none;
      font-size: 20px;
      margin: 0;
    }
  }

  .submit-button {
    margin: 0;
    background: $grafient-button;
    border-radius: 25px;
  }

  .footer {

    &__padding {
      padding: 5px;
    }
  }
}
