page-dashboard {
  .club-head {
    font-weight: bold;
    text-align: center;
  }

  .club-button {
    color: #007aff;
    text-align: center;
    width: 100%;
    display: block;
    padding: 15px 0;
  }

  .club-price {
    font-weight: bold;
    color: black;
  }
}
