<ion-header>
  <ion-navbar>
    <ion-title>Личный кибинет</ion-title>

    <ion-buttons end>
      <button (click)="goToDashboard()" ion-button icon-only>
        <ion-icon ios="ios-contact" md="md-contact" right></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="booked.length === 0" class="booked__none">
    <section class="booked__none-text">
      <h3>Здравствуйте, {{user.name}}!</h3>
      <p>Здесь будут отображены ваши бронирования</p>
      <p class="button button__blue action-button" (click)="emailToSupport()">Связаться со службой поддержки</p>
    </section>
  </div>

  <ion-list no-lines *ngIf="booked.length !== 0">
    <ion-item class="list-card" *ngFor="let item of booked">
      <div class="list-card__info">
        <h1 class="club-head">{{item.sportCenter}}</h1>
        <p>{{item.playingField}}</p>
        <p>{{item.day}} {{item.month}} {{item.year}} В {{item.hour}} часов</p>
        <p class="club-price">Общая стоимость: {{item.playFieldPrice}}р</p>
      </div>

      <a class="club-button" (click)="getBooking(item.id)">Перейти к бронированию</a>
    </ion-item>
  </ion-list>
</ion-content>
