page-dashboard {
  .club-head {
    font-weight: bold;
    text-align: center;
  }

  .club-button {
    color: #007aff;
    text-align: center;
    width: 100%;
    display: block;
    padding: 15px 0;
  }

  .club-price {
    font-weight: bold;
    color: black;
  }

  .booked__none-text {
    height: 100%;
    display: flex;
    justify-self: center;
    flex-flow: column;
    justify-content: center;
    text-align: center;
  }

  .button {

    text-align: center;

    &__blue {
      color: #007aff;
    }
  }

  .toolbar-title {
    text-align: center;
  }
}
