<ion-header>
  <ion-navbar>
    <ion-title text-center>Выберите площадку</ion-title>
    <ion-buttons end>
      <button (click)="goToDashboard()" ion-button icon-only>
        <ion-icon ios="ios-contact" md="md-contact" right></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="list">
        Список
      </ion-segment-button>
      <ion-segment-button value="map">
        Карта
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="place-choose__content place-choose__content_nothing" *ngIf="places.length === 0">
    <p class="nothing-found">Не найдено</p>
    <div>
      <button ion-button (click)="goBack()">Вернуться назад</button>
    </div>
  </div>

  <div class="place-choose__content" *ngIf="places.length > 0">

    <ul class="list" [ngClass]="{hide: !isList()}">
      <li class="list__item" *ngFor="let place of places">

        <div class="line__row">
          <div class="line__col line__col_1">
            <div class="place">
              <div class="place__img">
                <img class="" [src]='place.image'>
              </div>

              <span class="place__triangle place__triangle_up"></span>
              <span class="place__triangle place__triangle_down"></span>
              <img class="place__logo" [src]="place.imageLogo">
            </div>
          </div>
          <div class="line__col line__col_2 club">
            <h3 class="club__type">{{place.type}}</h3>
            <h4 class="club__name">{{place.name}}</h4>
            <p class="club__adress">
              <ion-icon class="navigate-icon" name="navigate"></ion-icon>
              {{place.address}}
            </p>
          </div>
          <div class="line__col line__col_3">
            <button (click)="goToPlace(place)" ion-button class="place__button" icon-only>
              <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
            </button>
          </div>
        </div>

      </li>
    </ul>

    <ion-list class="map-tab" [ngClass]="{hide: isList()}">
      <yandex-map [places]="places"></yandex-map>
    </ion-list>
  </div>
</ion-content>
