<ion-content padding>
  <div class="content-logo">
    <img class="logo" src="assets/images/logo.png"/>
  </div>

  <div class="content-info">
    <h4>{{name}}, мы отправили проверочный код Вам на номер</h4>
    <h2>+{{phone}}</h2>

    <div class="input-wrap">
    <input placeholder="Введите код" type="text" [ngClass]="{'invalid' : !validCode}"
           [attr.maxlength]="inputMaxLength" pattern="\d*" [(ngModel)]="inputCode" (input)="verifyCode()">

      <p class="input-wrap__code">{{testCode}}</p>

    </div>

    <div class="controls">
      <p (click)="goBackToAuth()">Изменить номер телефона</p>
      <p (click)="sendNewCode()">Отправить код повторно</p>
    </div>
  </div>
</ion-content>
