<ion-content padding>
  <div class="content-logo">
    <img class="logo" src="assets/images/logo.png"/>
  </div>

  <div class="content-info">
    <h4>{{name}}, мы отправили проверочный код Вам на номер</h4>
    <h2>+{{phone}}</h2>

    <div class="input-wrap">
    <input placeholder="Введите код" type="text" [ngClass]="{'invalid' : !validCode}"
           [attr.maxlength]="inputMaxLength" pattern="\d*" [(ngModel)]="inputCode" (input)="codeInput()">

      <p class="input-wrap__code" *ngIf="testCode != true">{{testCode}}</p>
      <p class="input-wrap__code" *ngIf="!validCode">Проверьте правильность кода</p>
    </div>

    <div class="controls">
      <p class='action-button' (click)="goBackToAuth()">Изменить номер телефона</p>
      <p class='action-button' (click)="sendNewCode()">Отправить код повторно</p>
    </div>
  </div>
</ion-content>

<ion-footer class="footer footer__padding">
  <button class="submit-button" (click)="verifyCode()" ion-button full>Продолжить</button>
</ion-footer>
