<ion-header>
  <ion-navbar>
    <ion-title text-center>Ваши бронирования</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="book != null">
    <div *ngIf="book.submit !== 0" class="book-info">
      <img class="image-info" src="assets/images/success-book-icon.png">
      <h2 class="info">Ваше бронирование подтверждено</h2>

      <p class="book-info__text book-info__text_bold">Номер бронирования: {{book.id}}</p>
      <p class="book-info__text">{{book.sportCenter}}</p>
      <p class="book-info__text">Время посещения: {{book.date.getDay()}} {{book.month}} в {{book.hour}}:00 </p>
      <p class="book-info__text">Адрес: {{book.address}}</p>

      <div class="order-list">
        <ul class="order-list__list">
          <li>{{book.playingField}}</li>
          <li *ngFor="let service of book.orderSevices"></li>
        </ul>
      </div>

      <p class="total-price">Общая стоимость: {{book.playFieldPrice}}p</p>

      <div class="submite-buttons">
        <p class='action-button' (click)="goToMapRout()">Схема проезда</p>
        <p class='action-button' (click)="sendMail()">Отправить на email</p>
        <p class='action-button' (click)="shareToFriend()">Пригласить друга</p>
      </div>
    </div>
  </div>

  <div class="book-info_wrap" *ngIf="book != null && book.submit === 0">
    <div class="book-info">
      <img class="image-info" src="assets/images/error-book.png">
      <h2 class="info info_red">Ваше бронирование не подтверждено</h2>
      <p class="book-info__text_grey">
        Пожалуйста, проверьте реквизиты и убедитесь, что на вашем счете достаточно средств для бронирования
      </p>
      <button class="go-to-book" ion-button full (click)="goToPayment()">Перейти к оплате</button>
      <p class='action-button' (click)="goToMainPage()">На главный экран</p>
    </div>
  </div>
</ion-content>
