<ion-header>
  <ion-navbar>
    <ion-title text-center>Ваши бронирования</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="book != null">
    <div *ngIf="book.submit !== 0" class="book-info">
      <img class="image-info" src="assets/images/success-book-icon.png">
      <h2 class="info">Ваше бронирование подтверждено</h2>

      <p class="book-info__text book-info__text_bold">Номер бронирования: {{book.id}}</p>
      <p class="book-info__text">{{book.sportCenter}}</p>
      <p class="book-info__text">Время посещения: {{book.day}} января в {{book.hour}}:00 </p>
      <p class="book-info__text">Адрес: {{book.address}}</p>
    </div>
  </div>

  <div class="book-info_wrap" *ngIf="book != null">
    <div *ngIf="book.submit === 0" class="book-info">
      <img class="image-info" src="assets/images/error-book.png">
      <h2 class="info info_red">Ваше бронирование не подтверждено</h2>
      <p class="book-info__text_grey">
        Пожалуйста, проверьте реквизиты и убедитесь, что на вашем счете достаточно средств для бронирования
      </p>
    </div>
  </div>
</ion-content>
